---
import "../../styles/posts.css";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
import Header from "../../components/header-white.astro";
import Head from "../../components/head.astro";
import Button from "../../components/Button.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Footer from "../../components/footer.astro";

export async function getStaticPaths() {
  const postCollection = await getCollection("posts", ({ data }) => {
    return !data.isDraft;
  });
  return postCollection.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { title, description, publishDate, tags, postImage1md, postImage1mdalt } =
  post.data;
const postImage = postImage1md as ImageMetadata;
const { Content } = await post.render();

const inputDate = new Date(publishDate);
const day = inputDate.getDate();
const monthNames = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec",
];
const month = monthNames[inputDate.getMonth()];
const year = inputDate.getFullYear();
const formattedDate = `${day} ${month} ${year}`;
---

<html lang="en">
  <Head />
  <body>
    <Header />
    <main class="inner-container-85rem flex">
      <aside></aside>
      <article class="flex">
        <div class="article-inner-wrapper">
          <div class="breadcrumb-wrapper">
            <Breadcrumbs>
              <svg
                slot="separator"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </Breadcrumbs>
          </div>
          <h1>{title}</h1>
          <ul class="single-post__tag-list">
            {
              tags.map((tag: unknown) => (
                <li>
                  <span class="single-post__tag">{tag}</span>
                </li>
              ))
            }
          </ul>
          <div class="post-date-wrapper flex">
            <span class="preheading">published:</span>
            <span class="post-date-number">{formattedDate}</span>
          </div>
          <Content />
          <Button
            text="see more posts"
            class="cta-btn-light"
            btnLink="/posts/"
          />
        </div>
      </article>
      <aside>
        <!-- <TableOfContents headings={headings} /> -->
      </aside>
    </main>

    <Footer />
    <style>
      main {
        margin-top: 4rem;
      }

      article {
        width: 60%;
        justify-content: center;
      }

      aside {
        width: 20%;
      }

      .breadcrumb-wrapper {
        padding-block: 2em;
      }

      @media (max-width: 1024px) {
        aside {
          display: none;
        }

        .article-inner-wrapper {
          max-width: 40rem;
        }

        article {
          width: 100%;
        }
      }

      .single-post__tag-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
      }

      .single-post__tag {
        color: var(--secondary-color);
        letter-spacing: 0.1em;
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: var(--fw-500);
        display: block;
        text-transform: uppercase;
        margin-right: 0.8em;
        background-color: var(--primary-color);
        border-radius: 2px;
        padding: 0.4em 0.9em;
      }

      .post-date-wrapper {
        margin-bottom: 2rem;
      }

      .post-date-number {
        margin-left: 0.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: var(--fw-500);
      }

      footer {
        background-color: var(--primary-color);
      }

      footer p {
        padding: 1rem;
        text-align: center;
        color: var(--secondary-color);
        font-weight: var(--fw-300);
        margin-bottom: 0;
      }

      .footer-currentyear {
        color: var(--accent-color);
      }
    </style>
    <script>
      import "../../scripts/nav.js";
    </script>
  </body>
</html>
