---
import "../styles/global.css";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import circleMobile from "../assets/images/circle-mobile.svg";
import circleDesktop from "../assets/images/circle-image__desktop.svg";
import studioPortrait1440 from "../assets/images/Extended up studio portrait hair fix-1440.jpg";
import pepImage from "../assets/images/pep-image.jpg";
import tayosImage from "../assets/images/DSCF1530.jpg";

import { formatDate } from "../scripts/utils";
import { getCollection } from "astro:content";
const postCollection = await getCollection("posts");
---

<html lang="en">
  <Head />
  <body>
    <Header />
    <section class="homepage-hero">
      <div class="standard-container flex hm-pg-hero__wrapper">
        <div class="hm-pg-hero-text-section flex">
          <div class="hm-pg-hero__text-wrapper">
            <h1 class="hm-pg-hero__header">Hannah Ogunyinka</h1>
            <div class="hm-pg-hero__sub-heading-wrapper flex">
              <h2 class="hm-pg-hero__sub-heading">full stack designer</h2>
              <picture>
                <source
                  media="(max-width:768px)"
                  srcset={circleMobile.src}
                  width="13px"
                  height="13px"
                />
                <img
                  src={circleDesktop.src}
                  alt="full stop punctuation"
                  width="32px"
                  height="24px"
                />
              </picture>
            </div>
            <Button text="Let's work together" />
          </div>
        </div>
        <div class="hm-pg-hero-image-section">
          <Image
            src={studioPortrait1440}
            alt="hero image"
            class="hm-pg-hero-image"
            quality={"high"}
            loading={"eager"}
          />
        </div>
      </div>
    </section>
    <section class="homepage-intro-section">
      <div class="homepage-intro flex standard-container">
        <div class="hm-pg-intro-text-wrapper">
          <p class="hm-pg-intro-text">
            I'm passionate about building<span class="hm-pg-intro-text-colour">
              engaging</span
            >
             digital spaces on the internet
          </p>
        </div>
      </div>
    </section>
    <section class="homepage-projects">
      <div class="standard-container top-bottom-padding">
        <div class="hm-pg-projects-subheading-container">
          <h2 class="hm-pg-projects__sub-heading">Projects</h2>
          <picture>
            <source
              media="(max-width:768px)"
              srcset={circleMobile.src}
              aria-label="full stop punctuation"
              width="13px"
              height="13px"
            />
            <img
              src={circleDesktop.src}
              alt="full stop punctuation"
              width="32px"
              height="24px"
            />
          </picture>
        </div>
        <div class="hm-pg-projects-case-study-container flex">
          <div class="hm-pg-projects-case-study-img-container">
            <Image
              src={pepImage}
              alt="PEP PEP-case-study-img"
              class="PEP-case-study-img"
            />
          </div>
          <div class="hm-pg-projects-case-study-text-container">
            <span class="hm-pg-preheading preheading">Marketing</span>
            <a
              href="/projects/platinum-events-planning"
              class="hm-pg-projects-case-study-text-link"
            >
              <h3 class="hm-pg-projects-case-study-title">
                Platinum Events Planning
              </h3>
            </a>
            <p class="hm-pg-projects-case-study-description">
              Platinum Events Planning are an award winning wedding planning
              company that deliver unique and memorable occasions for their
              clients.
            </p>
            <a
              href="/projects/platinum-events-planning"
              class="hm-pg-projects-case-study-btn"
              aria-controls="read more btn"
              ><span class="sr-only hm-pg-projects-case-study-btn-text"
                >Read More</span
              ></a
            >
          </div>
        </div>
        <div class="hm-pg-projects-case-study-container flex">
          <div class="hm-pg-projects-case-study-img-container">
            <Image
              src={tayosImage}
              alt="PEP PEP-case-study-img-2"
              class="PEP-case-study-img-2"
            />
          </div>
          <div class="hm-pg-projects-case-study-text-container">
            <span class="hm-pg-preheading preheading">Ecommerce</span>
            <a
              href="/projects/tayos-mixing-bowl"
              class="hm-pg-projects-case-study-text-link"
            >
              <h3 class="hm-pg-projects-case-study-title">
                Tayo's Mixing Bowl
              </h3>
            </a>
            <p class="hm-pg-projects-case-study-description">
              Tayo’s Mixing Bowl is a custom handmade brownies and cakes
              business creating high-end treats for special occasions.
            </p>
            <a
              href="/projects/tayos-mixing-bowl"
              class="hm-pg-projects-case-study-btn"
              aria-controls="read more link"
              ><span class="sr-only hm-pg-projects-case-study-btn-text"
                >Read More</span
              ></a
            >
          </div>
        </div>
        <div class="hm-pg-projects-cta-btn-wrapper flex">
          <Button text="See more projects" btnLink="/projects/" />
        </div>
      </div>
    </section>
    <section class="homepage-posts">
      <div class="standard-container top-bottom-padding">
        <div class="hm-pg-posts-title-text-container">
          <span aria-label="preheading" class="hm-pg-posts-preheading"
            >Recent Blog Posts</span
          >
          <h2 class="hm-pg-posts__sub-heading">Posts</h2>
          <picture>
            <source
              media="(max-width:768px)"
              srcset={circleMobile.src}
              width="13px"
              height="13px"
            />
            <img
              src={circleDesktop.src}
              alt="full stop punctuation"
              width="32px"
              height="24px"
            />
          </picture>
        </div>
        <div class="hm-pg-posts-container flex">
          {
            postCollection.map((post) => (
              <div class="hm-pg-single-post-container">
                <div class="hm-pg-single-post-img-container">
                  <Image
                    src={post.data.postImage1md}
                    alt={post.data.postImage1mdalt}
                    class="hm-pg-single-post-img"
                  />
                </div>
                <div class="hm-pg-single-post-text-container">
                  <span class="post-date-preheading preheading">
                    {formatDate(post.data.publishDate)}
                  </span>
                  <a
                    href={`/posts/${post.slug}`}
                    class="hm-pg-single-post-text-link"
                  >
                    <h3 class="hm-pg-single-post-title">
                      {post.data.title}
                      <span class="arrow-icon-wrapper">
                        <svg
                          class="arrow-icon"
                          width="0.8em"
                          height="0.8em"
                          viewBox="0 0 33 33"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            class="arrow-icon-line"
                            d="M3.74854 26.85L31.4382 2.2627"
                            stroke="#E97B2C"
                            stroke-width="4"
                            stroke-linejoin="round"
                          />
                          <path
                            class="arrow-icon-line"
                            d="M30.1096 2.76834L1 2.81201"
                            stroke="#E97B2C"
                            stroke-width="4"
                            stroke-linejoin="round"
                          />
                          <path
                            class="arrow-icon-line"
                            d="M30.7679 3.75467L30.7185 31"
                            stroke="#E97B2C"
                            stroke-width="4"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                    </h3>
                  </a>
                  <a
                    href=""
                    class="hm-pg-single-post-btn"
                    aria-controls="read more btn"
                  >
                    <span class="sr-only hm-pg-single-post-btn-text">
                      Read More
                    </span>
                  </a>
                </div>
              </div>
            ))
          }
          <!-- <div class="hm-pg-single-post-container">
            <div class="hm-pg-single-post-img-container">
              <Image
                src={postImage2}
                alt="single-post-img"
                class="hm-pg-single-post-img-2"
              />
            </div>
            <div class="hm-pg-single-post-text-container">
              <span class="post-date-preheading preheading">17 June 2023</span>
              <a href="" class="hm-pg-single-post-text-link">
                <h3 class="hm-pg-single-post-title">
                  post title <span class="arrow-icon-wrapper">
                    <svg
                      class="arrow-icon"
                      width="0.8em"
                      height="0.8em"
                      viewBox="0 0 33 33"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        class="arrow-icon-line"
                        d="M3.74854 26.85L31.4382 2.2627"
                        stroke="#E97B2C"
                        stroke-width="4"
                        stroke-linejoin="round"></path>
                      <path
                        class="arrow-icon-line"
                        d="M30.1096 2.76834L1 2.81201"
                        stroke="#E97B2C"
                        stroke-width="4"
                        stroke-linejoin="round"></path>
                      <path
                        class="arrow-icon-line"
                        d="M30.7679 3.75467L30.7185 31"
                        stroke="#E97B2C"
                        stroke-width="4"
                        stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </h3>
              </a>

              <p class="hm-pg-single-post-description">
                Platinum Events Planning are an award winning wedding planning
                company that deliver unique and memorable occasions for their
                clients.
              </p>
              <a
                href=""
                class="hm-pg-single-post-btn"
                aria-controls="read more link"
                ><span class="sr-only hm-pg-single-post-btn-text"
                  >Read More</span
                ></a
              >
            </div>
          </div> -->
        </div>

        <div class="hm-pg-posts-cta-btn-wrapper flex">
          <Button
            class="cta-btn-light"
            text="Read more posts"
            btnLink="/posts/"
          />
        </div>
      </div>
    </section>
    <Footer />
    <style>
      /* ---------------------------------Home page-hero------------------------------------ */
      /* ----------------------------------------------------------------------------------- */
      .homepage-hero {
        margin-inline: auto;
      }

      .hm-pg-hero__wrapper {
        height: 95vh;
        overflow: hidden;
        max-width: 3840px;
      }

      /*------------------Hero-homepage-text------------------- */

      .hm-pg-hero-text-section {
        width: 52.5%;
        height: 100%;
        background-color: var(--primary-color);
        justify-content: center;
        align-items: center;
        padding-right: 2.5rem;
        padding-top: 10rem;
        margin-bottom: 2rem;
      }

      .hm-pg-hero__header {
        color: var(--secondary-color);
        text-transform: uppercase;
        font-size: clamp(2.25rem, 1.5455rem + 3.5227vw, 10rem);
      }

      .hm-pg-hero__sub-heading-wrapper {
        align-items: flex-end;
        gap: 0.6rem;
      }

      .hm-pg-hero__sub-heading {
        text-transform: uppercase;
        color: var(--secondary-color);
        font-size: clamp(1.5rem, 1.0909rem + 2.0455vw, 6rem);
        margin-bottom: 0;
        flex-shrink: 0;
      }

      @media (min-width: 1025px) and (max-width: 1210px) {
        .hm-pg-hero__sub-heading {
          font-size: 2.3rem;
        }
      }

      /*------------------Hero-homepage-images------------------- */

      .hm-pg-hero-image-section {
        width: 47.5%;
        height: 100%;
      }

      .hm-pg-hero-image {
        width: 170%;
        object-fit: cover;
        height: 100%;
        object-position: right 15.6rem top 100%;
      }

      @media (max-width: 999px) {
        .hm-pg-hero-image {
          object-position: right -10rem top -8rem;
          width: 120%;
          height: 120%;
        }
      }

      @media (min-width: 1000px) and (max-width: 1300px) {
        .hm-pg-hero-image {
          object-position: right -8rem top -8rem;
          width: 120%;
          height: 120%;
        }
      }

      @media (min-width: 2500px) {
        .hm-pg-hero-image {
          object-position: left -35rem top -50rem;
        }
      }

      /* --------responsive queries for max-width 1024px------------ */

      @media (max-width: 1024px) {
        .hm-pg-hero__wrapper {
          flex-direction: column;
          padding-inline: 0;
          height: fit-content;
          display: inline-block;
        }

        .hm-pg-hero-text-section {
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 60vh;
          padding-inline: 2.5rem;
        }

        .hm-pg-hero__text-wrapper {
          width: 50%;
        }

        .hero-cta-btn {
          margin-block: 2rem;
        }

        .hm-pg-hero__header {
          margin-bottom: 1.5rem;
        }

        .hm-pg-hero-image-section {
          width: 100%;
          aspect-ratio: 1.63/1;
        }

        .hm-pg-hero-image {
          width: 100%;
          height: 100%;
          object-position: right 0rem top -15rem;
          aspect-ratio: 1.63/1;
        }
      }

      @media (max-width: 900px) {
        .hm-pg-hero-text-section {
          height: 27em;
        }
      }

      @media (max-width: 660px) {
        .hm-pg-hero-image {
          object-position: right 0rem top -9rem;
        }

        .hm-pg-hero-text-section {
          padding-top: 6rem;
        }
      }

      /* ---------------------------------Homepage-introduction section---------------------------- */
      /* -------------------------------------------------------------------------------------------*/

      .homepage-intro-section {
        max-width: 3840px;
        background-color: var(--accent-color);
      }

      .homepage-intro {
        width: 100%;
        aspect-ratio: 3/2;
        max-height: 95vh;
        padding-left: 14%;
        background-color: var(--accent-color);
        align-items: center;
        justify-content: center;
      }

      @media (min-width: 2000px) {
        .homepage-intro {
          padding-left: 0;
        }
      }

      .hm-pg-intro-text-wrapper {
        width: 70%;
        max-width: 1920px;
      }

      .hm-pg-intro-text {
        color: var(--secondary-color);
        font-size: var(--fs-7);
        font-weight: var(--fw-heading);
        margin-bottom: 0;
        line-height: 1.3;
      }

      .hm-pg-intro-text-colour {
        color: var(--primary-color);
      }

      @media (max-width: 499px) {
        .homepage-intro {
          padding-inline: 0;
        }
      }

      /* ---------------------------------Homepage-projects-section-------------------------------- */
      /* -------------------------------------------------------------------------------------------*/

      .hm-pg-projects__sub-heading {
        text-transform: uppercase;
        color: var(--secondary-color);
        font-size: var(--fs-8);
        margin-bottom: 0;
      }

      .hm-pg-projects-case-study-container {
        gap: 4rem;
        padding-top: 4rem;
      }

      .hm-pg-projects-case-study-img-container {
        width: 60%;
      }

      .hm-pg-projects-case-study-text-container {
        width: 40%;
      }

      .PEP-case-study-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .PEP-case-study-img-2 {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @media (max-width: 1262px) {
        .hm-pg-projects-case-study-img-container {
          align-content: stretch;
        }

        .PEP-case-study-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: right 0;
        }

        .PEP-case-study-img-2 {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left 10;
        }
      }

      .hm-pg-preheading {
        color: var(--accent-color);
        letter-spacing: 0.1rem;
        font-size: clamp(1rem, 0.97rem + 0.1499999999999999vw, 1.15rem);
      }

      .hm-pg-projects-case-study-title {
        line-height: 1.5;
        text-transform: uppercase;
      }

      .hm-pg-projects-case-study-text-link {
        color: var(--secondary-color);
        text-decoration-line: underline;
        text-underline-offset: 0.8rem;
        font-size: 1.6rem;
      }

      .hm-pg-projects-case-study-text-link:hover,
      .hm-pg-projects-case-study-text-link:focus {
        color: var(--accent-color);
      }

      .hm-pg-projects-case-study-description {
        color: var(--secondary-color);
        font-family: Source Code Pro;
        font-size: 1rem;
        font-weight: 300;
        max-width: 45ch;
        margin-bottom: 1rem;
      }

      .hm-pg-projects-case-study-btn {
        display: inline-block;
        margin-bottom: 2.5rem;
        transition: 0.2s;
        letter-spacing: 0.06em;
        white-space: nowrap;
      }

      .hm-pg-projects-case-study-btn-text {
        color: var(--secondary-color);
        font-weight: var(--fw-300);
        text-transform: uppercase;
        font-size: 0.8rem;
        text-decoration: underline;
        text-underline-offset: 0.5em;
        text-decoration-color: var(--accent-color);
      }

      .hm-pg-projects-case-study-btn:hover
        > .hm-pg-projects-case-study-btn-text {
        color: var(--accent-color);
      }

      /* -------------hm-pg-projects-case-studies @ max-width:790px------------------- */

      @media (max-width: 790px) {
        .hm-pg-projects-case-study-container {
          gap: 2.5rem;
          flex-direction: column;
        }

        .hm-pg-projects-case-study-img-container {
          width: 100%;
        }

        .PEP-case-study-img {
          width: 100%;
          max-width: 400px;
          aspect-ratio: 400/450;
          object-fit: cover;
          object-position: right 0;
        }

        .PEP-case-study-img-2 {
          width: 100%;
          max-width: 400px;
          aspect-ratio: 400/450;
          object-fit: cover;
          object-position: left 10;
        }

        .hm-pg-projects-case-study-text-container {
          width: 100%;
        }
      }

      .hm-pg-projects-cta-btn-wrapper {
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 768px) {
        .hm-pg-projects-case-study-description {
          font-size: 1.2rem;
          max-width: 100%;
        }

        .hm-pg-projects-case-study-btn {
          margin-bottom: 0rem;
        }

        .hm-pg-projects-cta-btn-wrapper {
          justify-content: flex-start;
        }
      }

      /* ---------------------------------Homepage-posts-section-------------------------------- */
      /* -------------------------------------------------------------------------------------------*/

      .homepage-posts {
        background-color: var(--secondary-color);
        max-width: 3840px;
      }

      .hm-pg-posts-preheading {
        display: block;
        font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
        font-weight: var(--fw-sub-heading);
        margin-bottom: 0.5rem;
        padding-left: 0.3%;
      }

      .hm-pg-posts__sub-heading {
        text-transform: uppercase;
        color: var(--primary-color);
        font-size: var(--fs-8);
        margin-bottom: 0;
      }

      .hm-pg-posts-container {
        gap: 4rem;
        padding-top: 4rem;
      }

      .hm-pg-single-post-container {
        width: 50%;
      }

      .hm-pg-single-post-img-container {
        margin-bottom: 1.8em;
      }

      .hm-pg-single-post-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .hm-pg-single-post-img-2 {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .post-date-preheading {
        color: var(--primary-color);
        letter-spacing: normal;
      }

      .hm-pg-single-post-title {
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-bottom: 0.5em;
      }

      .hm-pg-single-post-text-link {
        color: var(--primary-color);
      }

      .arrow-icon {
        margin-left: 0.3em;
      }

      .arrow-icon:hover > .arrow-icon-line {
        stroke: var(--primary-color);
      }

      .hm-pg-single-post-text-link:hover,
      .hm-pg-single-post-text-link:focus {
        color: var(--accent-color);
      }

      .hm-pg-single-post-description {
        color: var(--primary-color);
        max-width: 45ch;
        margin-bottom: 1rem;
      }

      .hm-pg-single-post-btn {
        display: inline-block;
        margin-bottom: 2.5rem;
        transition: 0.2s;
        letter-spacing: 0.06em;
        white-space: nowrap;
      }

      .hm-pg-single-post-btn-text {
        color: var(--primary-color);
        font-weight: var(--fw-500);
        text-transform: uppercase;
        font-size: 0.8rem;
        text-decoration: underline;
        text-underline-offset: 0.5em;
        text-decoration-color: var(--primary-color);
      }

      .hm-pg-single-post-btn:hover > .hm-pg-single-post-btn-text {
        color: var(--accent-color);
        text-decoration-color: var(--accent-color);
      }

      /* -------------hm-pg-posts @ max-width:790px------------------- */

      @media (max-width: 790px) {
        .homepage-posts .standard-container {
          padding-inline: 0rem;
        }
        .hm-pg-posts-container {
          gap: 2.5rem;
          flex-direction: column;
        }
        .hm-pg-posts-title-text-container {
          padding-inline: 2.5rem;
        }

        .hm-pg-single-post-container {
          width: 100%;
          padding-inline: 2.5em;
        }
      }

      .hm-pg-posts-cta-btn-wrapper {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
      }

      @media (max-width: 768px) {
        .hm-pg-single-post-description {
          font-size: 1.2rem;
          max-width: 100%;
        }

        .hm-pg-single-post-btn {
          margin-bottom: 0rem;
        }

        .hm-pg-posts-cta-btn-wrapper {
          justify-content: flex-start;
          padding-top: 0;
          padding-inline: 2.5rem;
        }

        .hm-pg-posts-cta-btn {
          margin-block: 0;
        }
      }

      /* -------------------------------------Footer----------------------------- */
      /* ------------------------------------------------------------------------ */

      footer p {
        padding: 1rem;
        text-align: center;
        color: var(--secondary-color);
        font-weight: var(--fw-300);
        margin-bottom: 0;
      }

      .footer-currentyear {
        color: var(--accent-color);
      }
    </style>
    <script>
      import "../scripts/nav.js";
    </script>
  </body>
</html>
